*{
  margin:0;
  padding:0;
}
.app {
  font-family: Roboto,arial,sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.heading{
  align-self: center;
  align-items: center;
  font-size: 2rem;
  margin:auto;
  padding-top: 1%;
}

.container{
  display: flex;
  flex:1;
}

.periodicTableContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex:5;
  flex-direction: column;
}



