*{
  margin:0;
  padding:0;
}
.app {
  font-family: Roboto,arial,sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading{
  font-size: 30px;
  line-height: 24px;
  padding: 28px 16px 16px;
}

.container{
  display: flex;
  flex:1;
}

.periodicTableContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex:5;
  flex-direction: column;
}

